{% extends 'base.html' %}
{% load static %}

{% block title %}
Instagram
{% endblock title %}

{% block home_active %} active {% endblock home_active %}

{% block body %}
    this is {{profile.first_name}} {{profile.last_name}} <br>
    username :: {{profile.user.username}}<br>
    bio :: {{profile.bio}}<br>
    following :: {{profile.count_following}}<br>
    <button class="ui right labeled icon button">
        <i class="wrench icon"></i>
        Update Profile
    </button>
    <img src='{{profile.profile_pic.url}}' class = "im">

    followers :: {{ profile.user.following_in_model.all.count }}


    <div class="ui three column grid">     
        {% for post in profile.author_post_model.all %}
            <div class="column">
                <div class="uis">
                    <div class="image" style="background-image:url('{{ post.picture.url }}');"></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block style %}
    .im {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .image {
        background-size: cover;
        background-position: center;
        width: 356px;
        height: 293px;
        float: left;
    }

    .uis{
        margin: 0 0 0 0;
    }
{% endblock style %}