{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD-->
    <link rel="stylesheet" type='text/css' href={% static 'style.css' %}>
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <title>Instagram</title>
</head>

<body>
    this is {{profile.first_name}} {{profile.last_name}} <br>
    username :: {{profile.username}}<br>
    bio :: {{profile.bio}}<br>
    email :: {{profile.email}}<br>
    following :: {{profile.count_following}}<br>
    <img src='{{profile.profile_pic.url}}' class="ui small rounded image">

    <a href="{% url 'Profile:update_url' %}">Update Profile</a> &nbsp; &nbsp;
    <a href="{% url 'Posts:all_posts_url' %}">Explore</a> &nbsp; &nbsp;
    <a href="{% url 'Posts:following_posts_url' %}">See Your Friends</a> &nbsp; &nbsp;
    <a href="{% url 'Profile:logout_url' %}">Logout</a>

</body>

</html>