{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}


{% block body %}

<div class="ui grid">
    <div class="five wide column"></div>

    <div class="six wide column">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>
                <form action="" method="POST" class="ui large form">
                    {% csrf_token %}
                    <div class="ui stacked secondary  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <button class="ui fluid large teal Submit button">
                            login
                        </button>
                    </div>
                </form>

                {% if messages %}
                <div class="ui error message">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="ui message">
                    New to us? <a href="{% url 'Profile:register_url' %}">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="five wide column"></div>

</div>
{% endblock body %}

{% block scripts %}
body > .grid {
height: 100%;
}

.image {
margin-top: -100px;
}

.column {
max-width: 450px;
}
{% endblock scripts %}