{% extends 'base.html' %}
{% load static %}

{% block title %}
    Instagram
{% endblock title %} 

{% block body %}
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="four wide column">
            <img src='{{profile.profile_pic.url}}' class = "im">
        </div>
        <div class="eight wide column">
            <form action="{% url 'Profile:follow_url' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{ profile.pk }}">
                {% if following %}
                <p>
                    <div style="font-family: 'Anaheim';font-size: 35px;margin: 0 0 0 0;" class="ui container">
                        {{profile.user.username}}&nbsp;&nbsp;
                    <button class="ui right icon button" type="submit">Unfollow</button>
                    </div>
                </p>
                {% else %}
                <p>
                    <div style="font-family: 'Anaheim';font-size: 35px;margin: 0 0 0 0;" class="ui container">
                        {{profile.user.username}}&nbsp;&nbsp;
                    <button class="ui right icon button" type="submit">Follow</button>
                    </div>
                </p>
                {% endif %}
            </form>
            <br>
            <div style="font-family: 'Anaheim';font-size: 17px;margin: 0 0 0 0;" class="ui container">
                <div class="ui three column grid">
                    <div class="ui column">
                        <b>{{ profile.author_post_model.all.count }}</b> Posts
                    </div>
                    <div class="ui column">
                        <b>{{ profile.user.following_in_model.all.count }}</b> Followers
                    </div>
                    <div class="ui column">
                        <b>{{profile.count_following}}</b> Following
                    </div>
                </div>
            </div>

            <div style="font-family: 'Anaheim';font-size: 20px;margin: 0 0 0 0;" class="ui container">
                <br>
                <b>{{profile.first_name}} {{profile.last_name}}</b>
                <p style="font-family: 'Anaheim';font-size: 17px;margin: 0 0 0 0;">{{profile.bio}}</p>
                <br>
            </div>
            
        </div>
        <div class="two wide column"></div>
    </div>

    <hr>

    <div class="ui three column grid">     
        {% for post in profile.author_post_model.all %}
            <div class="column">
                <div class="uis">
                    <div class="image" style="background-image:url('{{ post.picture.url }}');"></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}


{% block style %}
    .im {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .image {
        background-size: cover;
        background-position: center;
        width: 356px;
        height: 293px;
        float: left;
    }

    .uis{
        margin: 0 0 0 0;
    }
{% endblock style %}