<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD-->
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style>
    .main.container {
        padding-top: 75px;
    }
    </style>

    <title>Update</title>
</head>

<body>


    <div class="ui fixed borderless menu">
        <a class="purple inverted item active"><b>Share With Me</b></a> 
        <div class="right menu">
            <a href="{% url 'Profile:update_url' %}" class="item">
                <i class="edit icon" style="font-size: 1.5em;"></i> Update
            </a>
        </div>
    </div>

    <div class="ui main container">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}

        <form action="" method="POST" class = "ui form"enctype="multipart/form-data">
            {% csrf_token %}
            {{up_form.as_p}}
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>

</body>

</html>
